# Most Polluted Countries - Limpieza de Datos

### · Antes de empezar...

1. Para gestionar los Dataframes:

In [1]:
#Para mi doc de Pipeline:

import sys 
sys.path.append("../SRC") 
import support as sp

In [23]:
#Para mi doc de Pipeline:
import suport as sp

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
from collections import Counter
from fuzzywuzzy import process, fuzz
import pickle

###  · Carga de CSVs

Empezamos cargando datos CSV procedentes de Kaggle con la información de los países y las ciudades más contaminadas desde 2017 hasta 2021. En ambos los números están almacenados como objects, por lo que será la limpieza que hagamos a continuación. Empezaremos con el CSV de los países más contaminados:

In [177]:
df_pcountries = pd.read_csv("datos/AIR QUALITY INDEX- top countries.csv", index_col = 0 )
df_pcountries.head(2)

     Country/Region  2021  2020  2019  2018   Population
Rank
1        Bangladesh  76.9  77.1  83.3  97.1  164,689,383
2              Chad  75.9     -     -     -   16,425,859

In [178]:
def tipo_numero(x):
    x.replace("-", "0", inplace= True)
    x= pd.to_numeric(x)
    return(x)

In [179]:
df_pcountries["2020"]= tipo_numero(df_pcountries["2020"])

In [180]:
df_pcountries["2019"]= tipo_numero(df_pcountries["2019"])

In [181]:
df_pcountries["2018"]= tipo_numero(df_pcountries["2018"])

In [182]:
df_pcountries["Population"]= df_pcountries["Population"].str.replace("," , "")

In [183]:
df_pcountries["Population"]= pd.to_numeric(df_pcountries["Population"])

In [184]:
df_pcountries.head(2)

     Country/Region  2021  2020  2019  2018  Population
Rank
1        Bangladesh  76.9  77.1  83.3  97.1   164689383
2              Chad  75.9   0.0   0.0   0.0    16425859

In [185]:
df_pcountries.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 1 to 118
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country/Region  118 non-null    object
 1   2021            118 non-null    float64
 2   2020            118 non-null    float64
 3   2019            118 non-null    float64
 4   2018            118 non-null    float64
 5   Population      118 non-null    int64
dtypes: float64(4), int64(1), object(1)
memory usage: 6.5+ KB

In [129]:
df_pcountries.to_csv('polluted_countries.csv')

A continuación, haremos la limpieza de las ciudades más contaminadas. En primer lugar dividiremos la ciudad, del país:

In [211]:
df_pcities = pd.read_csv("datos/AIR QUALITY INDEX (by cities) - IQAir.csv", index_col = 0 )
df_pcities.head(2)

,City,2021,JAN(2021),FEB(2021),MAR(2021),APR(2021),MAY(2021),JUN(2021),JUL(2021),AUG(2021),SEP(2021),OCT(2021),NOV(2021),DEC(2021),2020,2019,2018,2017
Rank,,,,,,,,,,,,,,,,,,
1,"Bhiwadi, India",106.2,145.8,129.8,120.2,125.7,86.5,95.9,55.6,55.4,37.1,91.1,188.6,136.6,95.5,83.4,125.4,-
2,"Ghaziabad, India",102.0,199.9,172.2,97.8,86.3,52.9,47.2,35.3,37.6,30.8,89.7,218.3,163,106.6,110.2,135.2,144.6

In [212]:
pc= {
    "city": [],
    "country": [],
    }

for data in df_pcities["City"]:
    
    a= data.split(",")
    
    pc["city"].append(str(a[0]))
    pc["country"].append(str(a[1]))

In [213]:
df_pcities["City"]= pc["city"]

In [214]:
df_pcities["country"]= pc["country"]

In [215]:
#df_pcities.head(2)

,City,2021,JAN(2021),FEB(2021),MAR(2021),APR(2021),MAY(2021),JUN(2021),JUL(2021),AUG(2021),SEP(2021),OCT(2021),NOV(2021),DEC(2021),2020,2019,2018,2017,country
Rank,,,,,,,,,,,,,,,,,,,
1,Bhiwadi,106.2,145.8,129.8,120.2,125.7,86.5,95.9,55.6,55.4,37.1,91.1,188.6,136.6,95.5,83.4,125.4,-,India
2,Ghaziabad,102.0,199.9,172.2,97.8,86.3,52.9,47.2,35.3,37.6,30.8,89.7,218.3,163,106.6,110.2,135.2,144.6,India

In [216]:
def minusculas (x):
    x= [i.lower() for i in x]
    return(x)

In [217]:
df_pcities["City"]= minusculas(df_pcities["City"])

In [218]:
df_pcities["country"]= minusculas(df_pcities["country"])

A continuación los objects a floats:

In [222]:
df_pcities["JAN(2021)"]= tipo_numero(df_pcities["JAN(2021)"])

In [220]:
df_pcities["FEB(2021)"]= tipo_numero(df_pcities["FEB(2021)"])

In [223]:
df_pcities["MAR(2021)"]= tipo_numero(df_pcities["MAR(2021)"])

In [224]:
df_pcities["APR(2021)"]= tipo_numero(df_pcities["APR(2021)"])

In [225]:
df_pcities["MAY(2021)"]= tipo_numero(df_pcities["MAY(2021)"])

In [226]:
df_pcities["JUN(2021)"]= tipo_numero(df_pcities["JUN(2021)"])

In [227]:
df_pcities["JUL(2021)"]= tipo_numero(df_pcities["JUL(2021)"])

In [228]:
df_pcities["AUG(2021)"]= tipo_numero(df_pcities["AUG(2021)"])

In [229]:
df_pcities["SEP(2021)"]= tipo_numero(df_pcities["SEP(2021)"])

In [231]:
df_pcities["OCT(2021)"]= tipo_numero(df_pcities["OCT(2021)"])

In [232]:
df_pcities["NOV(2021)"]= tipo_numero(df_pcities["NOV(2021)"])

In [234]:
df_pcities["DEC(2021)"]= tipo_numero(df_pcities["DEC(2021)"])

In [235]:
df_pcities["2020"]= tipo_numero(df_pcities["2020"])

In [236]:
df_pcities["2019"]= tipo_numero(df_pcities["2019"])

In [237]:
df_pcities["2018"]= tipo_numero(df_pcities["2018"])

In [238]:
df_pcities["2017"]= tipo_numero(df_pcities["2017"])

In [239]:
df_pcities.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6475 entries, 1 to 6475
Data columns (total 19 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   City       6475 non-null   object
 1   2021       6475 non-null   float64
 2   JAN(2021)  6475 non-null   float64
 3   FEB(2021)  6475 non-null   float64
 4   MAR(2021)  6475 non-null   float64
 5   APR(2021)  6475 non-null   float64
 6   MAY(2021)  6475 non-null   float64
 7   JUN(2021)  6475 non-null   float64
 8   JUL(2021)  6475 non-null   float64
 9   AUG(2021)  6475 non-null   float64
 10  SEP(2021)  6475 non-null   float64
 11  OCT(2021)  6475 non-null   float64
 12  NOV(2021)  6475 non-null   float64
 13  DEC(2021)  6475 non-null   float64
 14  2020       6475 non-null   float64
 15  2019       6475 non-null   float64
 16  2018       6475 non-null   float64
 17  2017       6475 non-null   float64
 18  country    6475 non-null   object
dtypes: float64(17), object(2)
memory usage: 1011.7+ KB

In [240]:
df_pcities.head(2)

,City,2021,JAN(2021),FEB(2021),MAR(2021),APR(2021),MAY(2021),JUN(2021),JUL(2021),AUG(2021),SEP(2021),OCT(2021),NOV(2021),DEC(2021),2020,2019,2018,2017,country
Rank,,,,,,,,,,,,,,,,,,,
1,bhiwadi,106.2,145.8,129.8,120.2,125.7,86.5,95.9,55.6,55.4,37.1,91.1,188.6,136.6,95.5,83.4,125.4,0.0,india
2,ghaziabad,102.0,199.9,172.2,97.8,86.3,52.9,47.2,35.3,37.6,30.8,89.7,218.3,163.0,106.6,110.2,135.2,144.6,india

In [241]:
df_pcities.to_csv('polluted_cities.csv')