### *Cost of Living*  - Scrapeo  BeautifulSoup

A continuación, vamos a scrapearnos con BeautifulSoup los datos de coste de vida del periodo comprendido entre 2017/2021:

In [2]:
import requests
import re
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup

#### Año 2017

Crearemos un diccionario donde iremos almacenando la información que screapeamos. Ya que los únicos datos que nos importa quedarnos son los del coste de vida genérico de cada país, a la hora de introducir la información en el diccionario, meteremos un `start stop step`. Esto podemos hacerlo gracias a que la información sigue una estructura fija.

In [94]:
cost_living_2017= {"countries":[], 
                   "cost_living_index": [], 
                        }

In [4]:
url17= "https://www.numbeo.com/cost-of-living/rankings_by_country.jsp?title=2017"

In [5]:
res17= requests.get(url17)

In [7]:
sopa17 = BeautifulSoup(res17.content, 'html.parser') 
#sopa17

In [100]:
country17 = sopa17.find_all("td", {"class": "cityOrCountryInIndicesTable"})
#country17

In [101]:
for i in country17: 
    cost_living_2017["countries"].append(i.getText())

In [103]:
#cost_living_2017["countries"]

In [106]:
cli17 = sopa17.find_all("td", {"style":"text-align: right"})
#cli17

In [107]:
len(cli17)

726

In [108]:
for i in cli17[:726:6]: 
    cost_living_2017["cost_living_index"].append(i.getText())

In [109]:
costliving_2017= pd.DataFrame(cost_living_2017)
costliving_2017

       countries cost_living_index
0        Bermuda             146.2
1    Switzerland             122.1
2        Iceland             111.7
3         Norway             106.3
4        Bahamas             104.0
..           ...               ...
116      Georgia              27.4
117     Pakistan              27.2
118      Ukraine              26.2
119        India              25.1
120        Egypt              22.4

[121 rows x 2 columns]

In [44]:
costliving_2017.to_csv('costliving_2017.csv')

#### Año 2018

In [111]:
cost_living_2018= {"countries":[], 
                   "cost_living_index": [], 
                        }

In [112]:
url18= "https://www.numbeo.com/cost-of-living/rankings_by_country.jsp?title=2018"

In [113]:
res18= requests.get(url18)

In [114]:
sopa18 = BeautifulSoup(res18.content, 'html.parser') 
#sopa18

In [117]:
country18 = sopa18.find_all("td", {"class": "cityOrCountryInIndicesTable"})
#country18

In [118]:
for i in country18: 
    cost_living_2018["countries"].append(i.getText())

In [120]:
#cost_living_2018["countries"]

In [122]:
cli18 = sopa18.find_all("td", {"style":"text-align: right"})
#cli18

In [123]:
len(cli18)

690

In [124]:
for i in cli18[:690:6]: 
    cost_living_2018["cost_living_index"].append(i.getText())

In [125]:
costliving_2018= pd.DataFrame(cost_living_2018)
costliving_2018

       countries cost_living_index
0        Bermuda             144.9
1    Switzerland             131.4
2        Iceland             124.0
3         Norway             113.7
4        Bahamas             100.7
..           ...               ...
110      Tunisia              27.7
111        India              26.9
112      Ukraine              26.0
113        Egypt              25.7
114     Pakistan              25.1

[115 rows x 2 columns]

In [126]:
costliving_2018.to_csv('costliving_2018.csv')

#### Año 2019

In [127]:
cost_living_2019= {"countries":[], 
                   "cost_living_index": [], 
                        }

In [128]:
url19= "https://www.numbeo.com/cost-of-living/rankings_by_country.jsp?title=2019"

In [129]:
res19= requests.get(url19)

In [130]:
sopa19 = BeautifulSoup(res19.content, 'html.parser') 
#sopa19

In [133]:
country19 = sopa19.find_all("td", {"class": "cityOrCountryInIndicesTable"})
#country19

In [134]:
for i in country19: 
    cost_living_2019["countries"].append(i.getText())

In [136]:
#cost_living_2019["countries"]

In [138]:
cli19 = sopa19.find_all("td", {"style":"text-align: right"})
#cli19

In [139]:
len(cli19)

714

In [140]:
for i in cli19[:714:6]: 
    cost_living_2019["cost_living_index"].append(i.getText())

In [141]:
costliving_2019= pd.DataFrame(cost_living_2019)
costliving_2019

                       countries cost_living_index
0                    Switzerland             121.2
1                        Iceland             101.9
2                         Norway             101.0
3                        Bahamas              92.4
4                     Luxembourg              86.1
..                           ...               ...
114  Kosovo (Disputed Territory)              26.2
115                    Venezuela              25.7
116                        India              24.2
117                      Tunisia              23.7
118                     Pakistan              20.4

[119 rows x 2 columns]

In [142]:
costliving_2019.to_csv('costliving_2019.csv')

#### Año 2020

In [2]:
cost_living_2020= {"countries":[], 
                   "cost_living_index": [], 
                        }

In [3]:
url20= "https://www.numbeo.com/cost-of-living/rankings_by_country.jsp?title=2020"

In [6]:
res20= requests.get(url20)

In [ ]:
sopa20 = BeautifulSoup(res20.content, 'html.parser') 
#sopa20

In [ ]:
country20 = sopa20.find_all("td", {"class": "cityOrCountryInIndicesTable"})
#country20

In [ ]:
for i in country20: 
    cost_living_2020["countries"].append(i.getText())

In [ ]:
#cost_living_2020["countries"]

In [ ]:
cli20 = sopa20.find_all("td", {"style":"text-align: right"})
#cli20

In [ ]:
len(cli20)

In [ ]:
for i in cli20[:792:6]: 
    cost_living_2020["cost_living_index"].append(i.getText())

In [ ]:
costliving_2020= pd.DataFrame(cost_living_2020)
costliving_2020

#### Año 2021

In [7]:
cost_living_2021= {"countries":[], 
                   "cost_living_index": [], 
                        }

In [8]:
url21= "https://www.numbeo.com/cost-of-living/rankings_by_country.jsp?title=2021"

In [9]:
res21= requests.get(url21)

In [10]:
sopa21 = BeautifulSoup(res21.content, 'html.parser') 
#sopa21

In [ ]:
country21 = sopa21.find_all("td", {"class": "cityOrCountryInIndicesTable"})
#country21

In [ ]:
for i in country21: 
    cost_living_2021["countries"].append(i.getText())

In [ ]:
costliving_2021= pd.DataFrame(cost_living_2020)
costliving_2021